.face-wrap {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}
.face-wrap img {
  width: 100px;

  @include media-breakpoint-down(md) {
    width: 80px;
  }
}
.face-mobile {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.face-desk {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.line-wrap {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
.line-top {
  margin: 8px 0;
  width: 2px;
  background-color: $color-primary;
}
.section-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-family: "Roboto", sans-serif;
  color: $color-primary;

  @include media-breakpoint-down(md) {
    margin: 100px 0;
  }
}
