.top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $color-secondary;
  padding-top: 10px;
  text-decoration: none;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.menu-btns-left,
.menu-btns-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}
.menu-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover,
  active,
  visited {
    text-decoration: none !important;
  }
  &:active,
  visited {
    text-decoration: none !important;
  }
}
.menu-btn-wrap:hover > .menu-btn img {
  filter: grayscale(0);
  top: -5px;
  box-shadow: 0px 8px 26px -10px rgba(66, 68, 90, 1);
}
.menu-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $color-primary;
  border: none;

  @include media-breakpoint-down(sm) {
    width: 40px;
    height: 40px;
  }
}
.menu-btn img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(3px 5px 2px rgba(22, 23, 24, 0.507));
  position: relative;
  top: 0;
  transition: top ease 0.5s;

  @include media-breakpoint-down(sm) {
    width: 25px;
    height: 25px;
  }
}
.menu-btn-label {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  color: $color-primary;

  &:hover,
  active,
  visited {
    opacity: 0.9;
    text-decoration: none !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.7rem;
  }
}
.page-title-big {
  width: 34%;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
.page-title-small {
  width: 80%;
  display: none;

  @include media-breakpoint-down(md) {
    display: flex;
  }
}
